# Rename this file to secrets.yaml for your own use.

# Wifi
wifi_ssid: "MySSID"
wifi_password: "MySSISSuperSecretPassword"

# Doorbell
doorbell_fallback_password: "MyDoorbellPassword"

# Ikea Vindriktning air quality sensors
vindriktning-001-fallback-password: "MyPassword"
vindriktning-001-encryption-key: "f40lXzkOyhE/uaE2YcpUCHRdzYQnj9jq4aRJp6uHbRk=" # Do use this! More information and key generation: https://esphome.io/components/api.html
